/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&family=Slackey&family=Sour+Gummy:ital,wght@0,300;1,300&display=swap");

/* CSS variables */
:root {
  /* Fonts */
  --primary-font: "Slackey", "Georgia", serif;
  --secondary-font: "Original Surfer", "Verdana", sans-serif;
  --third-font: "Sour Gummy", "Arial", sans-serif;

  /* Colours */
  --primary-color: #1c4a49; /*Dark green*/
  --secondary-color: #ade8d4; /*Light blue*/
  --thrid-color: #ffde00; /*Yellow*/
  --fourth-color: #ffffff; /*White*/
  --fifth-color: #000000; /*Black*/
}

/* Global styles */

body {
  background-color: var(--primary-color);
  color: var(--fourth-color);
  font-family: var(--third-font);
}

h1 {
  font-family: var(--primary-font);
}

h2 {
  font-family: var(--secondary-font);
}

/* custom css */

/* class for a maximum 80 characters long for better legibility*/
.prose {
  max-width: 80ch;
}
